@charset "utf-8";

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.4em;
}

a{
  text-decoration: none;
  font-weight: 200;
  color: rgba(255, 255, 255, .9);
}

.box-01{
  width: 100%;
  min-height: 50%;
  padding: 10px;
  color: rgba(255, 255, 255, .7);
  background-color: #0b242f;
}

.box-01 h1{
  margin: 0px 10px 10px 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 8.0em;
}

.box-01 > .device{
  margin: 0 auto;
  width: 40%;
}

.box-02{
  width: 100%;
  min-height: 50%;
  padding: 10px;
  color: rgba(0, 0, 0, .7);
  background-color: #fff;
}

.box-02 h2{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 6.0em;
}

.box-02 h3{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 2.0em;
}

.box-02 > .text{
  width: 80%;
  text-align: left;
  margin: 20px auto;
}

.box-03{
  width: 100%;
  min-height: 50%;
  padding: 10px;
  color: rgba(0, 0, 0, .7);
  background-color: #49b571;
}

.box-03 h2{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 6.0em;
}

.box-03 h3{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 2.0em;
}

.box-03 > .text{
  width: 80%;
  text-align: left;
  margin: 20px auto;
}

.box-04{
  width: 100%;
  min-height: 50%;
  padding: 10px;
  color: #eb575c;
  background-color: #fff;
}

.box-04 h2{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 6.0em;
}

.box-04 h3{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 2.0em;
}

.box-04 p{
  color: rgba(0, 0, 0, .7);
}

.box-04 > .text{
  width: 80%;
  text-align: left;
  margin: 20px auto;
  color: rgba(0, 0, 0, .7);
}

.box-05{
  width: 100%;
  min-height: 50%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #0b242f;
}

.box-05 h2{
  margin: 10px;
  font-family: 'Helvetica Neue', 'Open Sans';
  font-weight: 100;
  font-size: 2.0em;
}
